language = "python3"
run = "apt update && apt -y install vnc4server && apt install xfce4 xfce4-goodies -y && vncserver -geometry 1366x768 && wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.tgz && tar -xzvf ngrok-stable-linux-amd64.tgz && ./ngrok authtoken 22UBI4hSN8nWo6tm48qsBdEYGgo_6K9PpEaxb13F1rFiNeXNx && ./ngrok tcp 5901"
